<!-- <div id="voucherToPrint" style="font-family: Arial, sans-serif; width: 300px; margin: auto; padding: 10px; border: 0px solid #000; font-size: 12px;">
    <h1 style="text-align: center; font-size: 20px;">FIBEX TELECOM C.A.</h1>
    <div class="info" style="margin-bottom: 20px;">
        <p style="margin: 0;"><strong>Caracas, Venezuela</strong></p>
        <p style="margin: 0;"><strong>RIF:</strong> J-12345678-9</p>
        <p style="margin: 0;"><strong>Fecha:</strong> 11/10/2024</p>
        <p style="margin: 0;"><strong>Factura No:</strong> 001234</p>
    </div>
    <p class="sibtitle" style="text-align: center; margin: 0;">
        Factura<br/>
        --------------------------------------------------------------------------
    </p>
    
    <div class="items" style="margin-bottom: 0;">
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th class="descrip" style="text-align: left; padding: 5px; border: none;">Descripción</th>
                    <th class="monto" style="text-align: right; padding: 0; border: none;">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="descrip" style="text-align: left; padding: 5px; border: none;">Producto A</td>
                    <td class="monto" style="text-align: right; padding: 0; border: none;">$10.00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p class="total" style="font-weight: bold; text-align: right;">
        --------------------------------------------------------------------------<br/>
        Subtotal: Bs. 13000<br/>
        IVA (16%): Bs. 2080<br/>
        Total: Bs. 15080<br/>
    </p>

    <div class="footer" style="text-align: center; font-size: 10px; margin-top: 0;">
        <p>Gracias por su pago!</p>
        <p>Fibex Telecom C.A.</p>
        <p>¡EL INTERNET QUE SI FUNCIONA!</p>
    </div>
</div>

<script src="print.min.js"></script>
<script>
    window.onload = function() {
        printJS('voucherToPrint', 'html'); // Imprime automáticamente al cargar la página
    };
</script> -->

<div id="voucherToPrint" style="font-family: Arial, sans-serif; width: 300px; margin: auto; padding: 10px; border: 0px solid #000; font-size: 12px;">
    <h1 style="text-align: center; font-size: 15px;">CORPORACION FIBEXTELECOM C.A.</h1>
    <div class="info" style="margin-bottom: 5px;">
        <p style="margin: 0; text-align: center"><strong>(FIBEXTELECOM)</strong></p>
        <p style="margin: 0; text-align: center"><strong>RIF:</strong> J-30818251-6</p>
        <p style="margin: 0; text-align: center">CARACAS, PARAISO, URB. LAS FUENTES, CALLE II Y III QUINTA SAN JOSE NRO 8</p>
        <p style="margin: 0; text-align: center">OFC DE COBRO</p>
    </div>
    
    <h1 class="sibtitle" style="text-align: center; margin-bottom: 10px; font-size: 12px;">
        COPIA DE RECIBO<br/>
    </h1>

    <div class="info" style="margin-bottom: 5px; border-top: 1px solid #000; padding-top: 5px;">
        <p style="margin: 1px;"><strong>Fecha:</strong>11/10/2024</p>
        <p style="margin: 1px;"><strong>Recibo de Pago:</strong>447913</p>
        <p style="margin: 1px;"><strong>Nro Abonado:</strong> V66979</p>
        <p style="margin: 1px;"><strong>Cliente:</strong> MERCADO COY LEONARDO ALBERTO <br> V 11304402</p>
        <p style="margin: 1px;"><strong>Dirección:</strong> SECT LOS COLORADOS # 103-5, VALENCIA</p>
        <p style="margin: 1px;"><strong>Caja:</strong> CAJA AUTOMATICA 1</p>
    </div>
    
    <div class="items" style="margin-bottom: 0;">
        <table style="width: 100%; border-collapse: collapse; border-bottom: 1px solid #000;">
            <thead style="border-bottom: 1px dashed #000;">
                <tr>
                    <th class="descrip" style="text-align: left; padding: 5px; border: none;"><strong>Descripción</strong></th>
                    <th class="monto" style="text-align: center; padding: 0; border: none;"><strong>Monto</strong></th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td class="descrip" style="text-align: left; padding: 5px; border: none;">MENS. OCT 2024</td>
                    <td class="monto" style="text-align: right; padding: 0; border: none;">$21,56 USD / 811,75 BS</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p class="total" style="font-weight: bold; text-align: right;">
        Total Recibo: $21,56 USD / 811,75 BS<br/>
    </p>

    <div class="items" style="margin-bottom: 0;">
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th class="descrip" style="text-align: left; padding: 5px; border: none;"><strong>Forma de Pago</strong></th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td class="descrip" style="text-align: left; padding: 5px; border: none;">TARJETA DE DEBITO</td>
                    <td class="monto" style="text-align: right; padding: 0; border: none;">$21,56 USD / 811,75 BS</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer" style="text-align: center; font-size: 10px; margin-top: 0;">
        <p><strong>Total pago: $21,56 USD / 811,75 BS</strong></p>
        <p><strong>Saldo Actual: -1,17 USD / -44,05 BS</strong></p>
        <p>Gracias por su pago!</p>
        <p>Fibex Telecom C.A. <strong>¡EL INTERNET QUE SI FUNCIONA!</strong></p>
    </div>
</div>